/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
-fx-background-image: url('../imagens/fundo-de-madeira-realista_1022-59.jpg');
-fx-background-size: 700px 1500px;
}
.avatarLogin{
-fx-background-image: url('../imagens/casal-icone.png');
}
.pane{
    -fx-background-color: #dddd;
}